* {
    box-sizing: border-box;
}

body {
    padding-top: 50px;
}

.panel-gold {
    background: gold;
}



.panel-info>.panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.panel-info {
    border-color: #bce8f1;
}
